@media (max-width: 992px) {

    .get-in-touch p {
        max-width: 767px;
    }

    .get-in-touch h2 {
        text-align: center;
    }

    .get-in-touch .redline-3 {
        margin: 0 auto;
    }

    .get-in-touch .right-get h3 {
        text-align: center;
    }

}

@media (max-width: 767px) {

    .get-in-touch .row {
        flex-direction: column;
    }

    .get-in-touch .left-get,
    .right-get {
        width: 100%;
    }

    .get-in-touch .left-get {
        padding: 0 0 25px 0;
    }


}