.business-card {
    background-color: var(--main-bg-color);
    padding-bottom: 40px;
}

.business-card h1 {
    font-size: 55px;
    text-transform: uppercase;
    margin-bottom: 35px;
    font-weight: 800;
    line-height: 60px;
}

.info-left, .photo-right {
    width: 50%;
}

.info-left p {
    color: #656363;
    font-size: 17px;
    max-width: 500px;
    line-height: 25px;
    padding-bottom: 30px;
}

.photo-right img {
    width: 100%;
}

.contact-us {
    display: inline-block;
    margin: 20px 0 0;
    padding: 20px 50px;
    text-decoration: none;
    text-transform: capitalize;
    color: white;
    border: 1px var(--button-color);
    background-color: var(--button-color);
    border-radius: 5px;
    cursor: pointer;
}