.get-in-touch {
    margin: 50px 0;
    padding-bottom: 50px;
}

.left-get,
.right-get {
    width: 50%;
}
.left-get {
    padding-right: 20px;
}
.right-get {
    background-color: var(--bg-black);
    color: white;
}
.redline-3 {
    max-width: 150px;
    height: 5px;
    background-color: #ff3f40;
    border-radius: 15px;
}

.get-in-touch h2 {
    padding-bottom: 30px;
    font-size: 45px;
    font-weight: 700;
    text-transform: uppercase;
}
.get-in-touch p {
    padding-bottom: 30px;
    max-width: 550px;
    font-size: 20px;
    line-height: 23px;
}

.get-name {
    margin-bottom: 40px;
}
.name-form {
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
}

.name-form label {
    display: inline-block;
    width: 47%;

}
.name-form input {
    display: inline-block;
    width: 100%;
    padding:15px 35px;
    border-radius: 10px;
    background-color: silver;
    border: none;
    outline: none;
}

.get-in-touch .left-get textarea {
    width: 100%;
    height: 200px;
    border-radius: 10px;
    background-color: silver;
    padding: 15px;
    border: none;
    outline: none;
}

.get-in-touch button {
    display: inline-block;
    margin: 20px 0 0;
    padding: 15px 30px;
    text-decoration: none;
    text-transform: capitalize;
    color: white;
    border: 1px var(--button-color);
    background-color: var(--button-color);
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

.get-in-touch .right-get {
    padding: 80px 40px;
}

.get-in-touch .right-get h3 {
    font-size: 25px;
    padding-bottom: 25px;
}
