body {
    margin: 0;
    font-family: sans-serif;
}
header {
    background-color: var(--main-bg-color);
    padding: 30px 0;
}
.background {
    background-color: black;
    width: var(--content-width);
    margin:0 auto;
}

.menu {
    display: flex;
    justify-content: center;
    list-style: none;
}
.menu a {
    padding: 2em 1em;
    display: inline-block;
    color: white;
    border-right: none;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    transition: background-color.3s;
}

a:hover {
    color: white;
    background-color: var(--menu-bg-color);
}
