header {
    background-color: var(--main-bg-color);
    padding: 30px 0 55px;
}
header nav {
    background-color: var(--bg-black);
}

header ul {
    justify-content: center;
    list-style: none;
}

header ul li a {
    padding: 2em 1em;
    display: inline-block;
    color: white;
    border-right: none;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    transition: background-color.3s;
}

header ul li a:hover {
    color: white;
    background-color: var(--menu-bg-color);
}
