h2 {
    font-size: 35px;
    text-transform: uppercase;
    margin: 0;
    font-weight: 900;
}

.services {
     padding: 50px 0;
 }
.services p {
    font-size: 17px;
    line-height: 25px;
    padding: 5px 0 15px;
}
.services h3 {
    font-size: 20px;
    font-weight: 600;
}

.services .container {
    border-bottom: 1px solid gray;
    padding-bottom: 40px;
}

.left-block,
.right-block {
    width: 50%;
}

.left-block {
    padding-right: 50px;
}
.left-block p {
    max-width: 500px;
}

.right-block {
    display: flex;
    flex-wrap: wrap;
}

.block {
    width: 50%;
    padding-right: 15px;
}
.block img {
    padding-bottom: 8px;
}
.block h3 {
    padding-bottom: 5px;
}

.more {
    display: inline-block;
    margin: 20px 0 0;
    padding: 15px 30px;
    text-decoration: none;
    text-transform: capitalize;
    color: red;
    border: 1px solid red;
    background-color: transparent;
    border-radius: 5px;
    cursor: pointer;
}